html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $decorative-font;
  font-family: $main-font-font;
  font-family: $simple-font-font;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
