body {
    font-family: 'Playfair Display', sans-serif;
    margin: 0px;
}
.container {
    width: 900px;
    margin: 0 auto;
}
header {
    margin-bottom: 30px;
}
nav {
    text-align: center;

}
ul {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    padding: 0px; 
}
.menu {
    font-size: 0px;
}
ul li {
    display:inline-block;
    margin: 0px auto;
}
.link {
    text-decoration: none;
    color:rgb(0,0,0);
    font-size: 14px;
    line-height: 170px;
    margin: 0px 40px;

}
.link:hover {
    color: rgb(3,169,244);
}
main {
    width: 900px; 
}
section {
    width: 900px;
    text-align: center;
    font-size: 0px;
}
article {
    display: inline-block;
    width: 420px;
    text-align: left;
    margin-bottom: 130px;
}
article:not(:nth-child(2n)){
    margin-right: 60px;
}
.low-article {
    margin-bottom: 50px;
}
.imagename {
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 14px;
    color: grey;  
}

h2 {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 30px;
}

.text {
    display: inline-block;
    width: 420px;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
}

button {
    display: inline-block;
    width: 160px;
    height: 60px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(0,0,0);
    font-size: 16px;
    font-family: 'Playfair Display', sans-serif;    
}
button:hover {
    color: rgb(3,169,244);
}