.banner {
    padding: 180px 0 210px;
    text-align: center;
}
.banner__text-before-title {
    font-size: 70px;
    margin-bottom: 60px;
}

.banner__title {
    color: $white-color;
    font-size: 150px;
    line-height: 1;
    max-width: 820px;
    margin: 0 auto;
    margin-bottom: 121px;

}