.service__article {
    width: 301px;
    padding-left: 83px;
    position: relative;
    margin-bottom: 90px;


}
.service__article_one::before {
    content: '';
    display: inline-block;
    background-image: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 10px; 
    top: 13px;
    width: 30px;
    height: 30px;
    
}
.service__article_two::before {
    content: '';
    display: inline-block;
    top: 13px;
    width: 30px;
    height: 30px;
    background-image: url(../images/icon-graph.svg);
    position: absolute;
    left: 10px; 
}
.service__article_three::before {
    content: '';
    display: inline-block;
    top: 13px;
    width: 30px;
    height: 30px;
    background-image: url(../images/computer.svg);
    position: absolute;
    left: 10px; 

}
.service__article_four::before {
    content: '';
    display: inline-block;
    top: 13px;
    width: 30px;
    height: 30px;
    background-image: url(../images/book.svg);
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 10px; 

}
.service__article_five::before {
    content: '';
    display: inline-block;
    top: 13px;
    width: 30px;
    height: 30px;
    background-image: url(../images/icon-home.svg);
    position: absolute;
    left: 10px; 
}
.service__article_six::before {
    content: '';
    display: inline-block;
    top: 13px;
    width: 30px;
    height: 30px;
    background-image: url(../images/frame.svg);
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 10px; 
    

}

.service__title {
    line-height: 34px;
    margin-bottom: 12px;

}