
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.container {
    width: 1185px;
    margin: 0 auto;
    padding: 40px 15px;
}
header {
    margin-bottom: 45px;
}
.logo::first-letter {
    font-weight: 700;
    color: rgb(25, 188, 156)
}
.logo {
    display: inline-block;
    font-size: 20px;
}
nav {
    display: inline-block;
    float: right;
}
ul {
    display: inline-block;
}
ul li {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-left: 35px;
}
.menu-link {
    text-decoration: none;
    color: rgb(0,0,0)
}
.menu-link:hover {
    color: rgb(26,188,156);
}
.products {
    margin-bottom: 55px;
    padding: 12px 0px;
}
.title {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: rgb(85,82,82);
}
.title::after {
    content: "";
    display: block;
    width: 165px;
    height: 7px;
    background-color: rgb(26,188,156);
    margin: 30px auto 90px;
}
.product-block {
    width: 260px;
    height: 325px;
    margin: 15px;
    background-color: rgb(232, 239,252);
    float: left;
}
.product-block:hover .name-of-product {
    background-color: rgb(26,188,156);
}
.product-block:hover .cost {
    background-color: rgb(127,217,199);
}
.name-of-product {
    float:left;
    margin: 0px 0px;
    padding: 0px 13px;
    width: 174px;
    height: 40px;
    font-size: 16px;
    color: rgb(255,255, 255);
    line-height: 40px;
    background-color: rgb(50,50,50);
}
.cost {
    float: right;
    margin: 0px 0px;
    width: 60px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: rgb(255,255, 255);
    font-weight: 700;
    text-align: center;
    background-color: rgb(140,140,140);
}

.news-container {
    padding: 30px 22px;
}
.news-block {
    width: 350px;
    height: 540px;
    margin: 15px;
    float:left
}
.news-img {
    margin-bottom: 10px;
}
.preview {
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: rgb(85,82,82);
}
.preview::after {
    content: "";
    display: block;
    width: 135px;
    height: 3px;
    background-color: rgb(26,188,156);
    margin: 10px 0px 30px;
}
.text {
    font-size: 12px;
    line-height: 25px;
}
.button {
    display: inline-block;
    width: 160px;
    height: 55px;
    background-color: rgb(25, 188, 156);
    font-size: 15px;
    text-decoration: none;
    line-height: 55px;
    text-align: center;
    color: rgb(255,255, 255);
    box-shadow: none;
}