
$main-font-font: 'Montserrat', sans-serif;
$decorative-font: 'Kaushan Script', cursive;
$simple-font-font: 'Roboto', sans-serif;

$white-color: rgb(255, 255, 255);
$orange-color: rgb(252,227,138);
$dark-text-color: rgb(51, 51, 51);
$pink-color: rgb(243, 129, 129);
$light-text-color: rgb(175,175, 175);
$blue-color:rgb(149 ,225 ,211);
$light-pink-color: rgba(243,129,129,0.9);
$light-orange-color: rgba(252,227,138,0.9);
$transparent-pink-color: rgba(243, 129, 129, 0.4);